In [1]:
import pandas as pd

In [8]:
data = pd.read_csv(r"C:\Users\vickr\OneDrive\Desktop\MAJOR _PROJECT\DATASET\namelist.csv")

In [9]:
data.head()

,fname,nationality,dob,gender,id,cust_ref_id
0,MAKHTAB KHIDAMAT,\N,\N,\N,14952,DIGI218#14952
1,MAKHTAB AL-KHIDAMAT,\N,\N,\N,14951,DIGI239#14951
2,dawood,NaN,13-05-1965,Male,14950,Trustin-1710403262691
3,Shaykh,IRAN,13-05-1943,Male,14943,Trustin-1710400558689
4,Parvez,INDIA,01-03-1977,Male,14936,Trustin-1710361855935

In [11]:
names_list = data['fname'].str.split().str[0].tolist()

In [13]:
print(names_list)

['MAKHTAB', 'MAKHTAB', 'dawood', 'Shaykh', 'Parvez', 'Naidu', 'Parvez', 'MAHAD', 'ANTHONY', 'Anil', 'Ismatullah', 'Alaa', 'ibrahim', 'ibrahim', 'MUHAMMAD', 'PAVEL', 'Fahad', 'Abdulaziz', 'Sultan', 'HASSAN', 'ABDUL', 'ABDUL', 'ibrahim', 'ibrahim', 'ibrahim', 'Sultan', 'Abdulaziz', 'sanjay', 'reliable', 'hamza', 'Fazal', 'Tata', 'Tata', 'Muhammad', 'Ibrahim', 'fazal', 'Casey', 'Ramesh', 'Casey', 'Casey', 'muhammed', 'muhammed', 'APOLLINAIRE', 'alcotech', 'YUSUF', 'AMADOU', 'muhammad', 'fazal', 'Fazal', 'Nara', 'Nara', 'ZOOM', 'state', 'satish', 'ZARA', 'state', 'ZOOM', 'ayub', 'donlad', 'Anand', 'Wave', 'dawood', 'trump', 'Parent']

In [14]:
name_nationality_dict = {}


for index, row in data.iterrows():
    name = row['fname'].split()[0]
    nationality = row['nationality']
    name_nationality_dict[name] = nationality


print(name_nationality_dict)

{'MAKHTAB': '\\N', 'dawood': 'INDIA', 'Shaykh': 'IRAN', 'Parvez': 'INDIA', 'Naidu': 'INDIA', 'MAHAD': '\\N', 'ANTHONY': '\\N', 'Anil': 'INDIA', 'Ismatullah': '\\N', 'Alaa': '\\N', 'ibrahim': '\\N', 'MUHAMMAD': nan, 'PAVEL': 'RUSSIAN FEDERATION', 'Fahad': 'SAUDI ARABIA', 'Abdulaziz': 'SAUDI ARABIA', 'Sultan': 'SAUDI ARABIA', 'HASSAN': 'UNITED ARAB EMIRATES', 'ABDUL': 'INDIA', 'sanjay': 'INDIA', 'reliable': 'UNITED ARAB EMIRATES', 'hamza': 'PAKISTAN', 'Fazal': '\\N', 'Tata': 'UNITED ARAB EMIRATES', 'Muhammad': nan, 'Ibrahim': 'INDIA', 'fazal': 'AFGHANISTAN', 'Casey': 'UNITED STATES', 'Ramesh': 'INDIA', 'muhammed': 'AFGHANISTAN', 'APOLLINAIRE': 'RWANDA', 'alcotech': '\\N', 'YUSUF': '\\N', 'AMADOU': '\\N', 'muhammad': 'INDIA', 'Nara': '\\N', 'ZOOM': 'UNITED ARAB EMIRATES', 'state': 'UNITED ARAB EMIRATES', 'satish': '0', 'ZARA': '\\N', 'ayub': 'AFGHANISTAN', 'donlad': 'UNITED STATES', 'Anand': 'INDIA', 'Wave': '\\N', 'trump': 'UNITED STATES', 'Parent': 'Belgium'}